<div class="card-category my-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= dinosaur_photo_url(dinosaur) %>)">
  <%= dinosaur.name %>
  <%= link_to new_dinosaur_shift_path(dinosaur), class: 'card-add-link' do %>
    <i class="fas fa-plus-square"></i>
  <% end %>
  <%= link_to dinosaur_path(dinosaur), method: :delete, data: { confirm: "Make #{dinosaur.name} extinct?" }, class: 'card-remove-link' do %>
    <i class="fas fa-meteor"></i>
  <% end %>
  <div class="card-tags">
    <% dinosaur.attractions.each do |attraction| %>
      <span><%= attraction.name %></span>
    <% end %>
  </div>
</div>